<% include partials/head %>
	<div class="container businessHeader">
		<div class="row">
			<div class="col-md-7">
				<div class="business">
					<h2><%= business.businessName %></h2>
					<p><%= business.slogan %></p>	
								<div class="reviews">
									<% if(business.average_stars) { %>
									<div class="ratings mb-2 mr-2">
										<% for(let i = 0; i < Math.round(business.average_stars); i++){ %>
											<i class="fas fa-star checked mb-3"></i>											
										<% } %>
									</div>
									<h5 class="mr-3 mt-1"><%= Math.round(business.average_stars) %> ratings</h5>
									<% } else { %>
										<h5 class="mr-3 mt-1">No ratings</h5>
									<% } %>
									<a href="/business/write_review/<%= business.id %>" class="mt-1"><h5>Write a review</h5></a>
								</div>
					<p class="mt-2" style="font-size: 20px;"><i class="fas fa-phone"></i> <%= business.phone %></p>
					<p class="mt-2" style="font-size: 20px;"><%= business.address.street %> | <%= business.address.city %> | <%= business.address.postcode %></p>
								<div class="buttonGroup mt-3">
									<a href="#" class="btn btn-warning mb-3"><i class="fas fa-globe"></i> Website</a>
									<a href="#" class="btn btn-warning mb-3"><i class="fas fa-envelope"></i> Email</a>
								</div>
				</div>
				<p class="lead mt-3 pt-5" style="border-top: 1px solid lightgrey;"><%= business.description %></p>
			</div>
			<div data-street="<%= business.address.street %>"  data-city="<%= business.address.city %>" data-postcode="<%= business.address.postcode %>" class="col-md-4" id="mapContainer"></div>
		</div>
		<div class="row mt-5">
			<div class="col-md-12">
				<div class="reviewListing">
					<h2 class="mt-3 mb-4">Reviews</h2>
					<% if(business.comments.length === 0){ %>
						<h3>There are no reviews</h3>
					<% } %>
					<% business.comments.forEach((comment) => { %>
						<a href="/user/profile/<%= comment.comment_author %>"><p class="mt-5" style="font-size: 20px;"><i class="far fa-user"></i> <%= comment.comment_author %></p></a>
						<% for(let i = 0; i < comment.comment_stars; i++) { %>
						<i class="fas fa-star checked mb-3"></i>
						<% } %>
						<h3><%= comment.comment_title %></h3>
						<p style="font-size: 20px;"><%= comment.comment_body %></p>
					<% }) %>
				</div>
			</div>
		</div>
	</div>
<% include partials/footer %>