<% include partials/head %>
	<div class="container">
		<h1 class="display-3 text-center mb-5">Business Listings</h1>
		<form class="form-inline my-2 my-lg-0" method="post" action="/business/search">
	      <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search a business" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
		<% if(businesses.length === 0) { %>
			<h3 class="text-center">There are no businesses for this category</h3>
		<% } %>
		<% businesses.forEach((business) => { %>
			<div class="row">
					<div class="col-md-10 businessCard">
						<div class="col-md-8">
							<a href="/business/show/<%= business.id %>"><h2  style="font-family: 'Josefin Sans', sans serif; "><%= business.businessName %></h2></a>
							<a href="#"><p class="slogan" ><%= business.category %></p></a>
							<p class="slogan"><%= business.slogan %></p>
							<div class="buttonGroup mt-3">
								<a href="#" class="btn btn-warning mb-3"><i class="fas fa-globe"></i> Website</a>
								<a href="#" class="btn btn-warning mb-3"><i class="fas fa-envelope"></i> Email</a>
								<a href="#" class="btn btn-warning mb-3"><i class="fas fa-phone"></i> Phone</a>
							</div>
							<a href="#"><p><%= business.address.street %> | <%= business.address.city %> | <%= business.address.postcode %></p></a>
							<p class="lead"><%= business.description %></p>
						</div>
						<div class="col-md-4">
							<div class="reviews">
								<div class="ratings mb-2">
									<i class="fas fa-star checked"></i>
									<i class="fas fa-star checked"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</div>
								<a href="#"><h5>2.0 rating (30 reviews)</h5></a>
								<a href="/business/write_review">Write a review</a>								
							</div>
							<button class="btn btn-warning">More info</button>
						</div>
					</div>
			</div>
		<% }) %> 
	</div>
<% include partials/footer %>